<h1>Admin Panel</h1>
<div>
  <h2>Armor data updates</h2>
  <div>
    <div style="width: 150px;">
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput [(ngModel)]="password" type="password" />
      </mat-form-field>
    </div>
    <div>
      <button class="btn btn-primary" (click)="scrape()" [disabled]="isScrapeButtonDisabled"> Scrape armor data</button>
      from <a href="https://eldenring.wiki.fextralife.com/Armor" target="_blank">eldenring.wiki.fextralife.com/Armor</a>
    </div>    
    <div style="margin-top: 10px;">
      <label style="display: block;" for="scrape-console">Console output:</label>
      <span #scrapeConsole id="scrape-console" role="log" class="table-border">
        {{ scrapeConsoleText }}
      </span>
    </div>
    <div style="margin-top: 10px;" *ngIf="isScrapeDisplayChanges && changes">
      <h3>Changes</h3>
      <ul>
        <li *ngFor="let m of changes.messages">{{ m }}</li>
        <li *ngFor="let apc of changes.armorPieceChanges">
          <span>Set: {{ apc.setName }}</span>
          <span style="margin-left: 10px;">Piece: {{ apc.pieceName }}</span>
          <ul>
            <li *ngFor="let apm of apc.changes">{{ apm }}</li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="save()" [disabled]="isSaveButtonDisabled">Save</button>
      <button class="btn btn-secondary" (click)="cancel()" [disabled]="isSaveButtonDisabled" style="margin-left: 10px;">Cancel</button>
    </div>
  </div>
</div>
