<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow">
  <div class="container-md">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"            
            (click)="toggle()"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            aria-controls="id_menu_container">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-md-inline-flex"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow" id="id_menu_container">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/optimizer']" (click)="collapse()">EROptimizer</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/filters']" (click)="collapse()">Armor Filters</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/data']" (click)="collapse()">Armor Data</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/bestclass']" (click)="collapse()">Starting Class</a>
        </li>
        <li class="nav-item ms-md-auto">
          <a class="nav-link text-dark" href="https://github.com/3dots/EROptimizer/issues" target="_blank">Report an issue</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

