<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilesPath" value="C:\repos\EROptimizer\ScrapeWiki\Files" />
    <add key="CreateHtmlFiles" value="true" /> <!-- Keep as true when debugging. -->
    <add key="UseStaticHtmlFiles" value="true" /> <!-- Toggle true/false to not spam wiki website. -->
  </appSettings>
</configuration>