<div class="loading-screen">
  <div>
    <div class="loading-image-div text-primary">
      <img src="/assets/calculator.svg" alt="Loading...">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div id="content">
      <ng-content></ng-content>
      <div *ngIf="hasProgressBar" style="width: 400px;">
        {{ progressLabel }}: {{ progressValue / 100 | percent }}
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
      </div>
      <div style="margin-top: 10px; text-align: right;">
        <button class="btn btn-primary" (click)="cancel()">Cancel</button>
      </div>      
    </div>    
  </div>
</div>
