

<h2 mat-dialog-title style="display: flex; align-items: center;">
  <svg class="bi" style="height: 1.5rem; width: 1.5rem;" fill="currentColor">
    <use xlink:href="bootstrap-icons.svg#exclamation-circle" />
  </svg>
  <span style="margin-left: 5px;">{{ errorData.errorTitle }}</span>
</h2>
<mat-dialog-content class="mat-typography">
  <div>{{ errorData.errorText }}</div>
  <div *ngIf="exceptionText">{{ exceptionText }}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button color="primary">Close</button>
</mat-dialog-actions>
