h2 {
  margin-bottom: 0;
}

.armor-pieces-table-container {
  flex-grow: 1;
  overflow: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 650px) {
  .armor-pieces-table-container {
    margin-right: 0;
  }
}

table.armor-pieces-table {
  width: auto;
}

@media screen and (max-width: 1150px) {

  table.armor-pieces-table {
    width: 600px;
  }

    table.armor-pieces-table > thead > tr,
    table.armor-pieces-table > thead > tr > th,
    table.armor-pieces-table > tbody > tr,
    table.armor-pieces-table > tbody > tr > td {
      display: block;
    }

      table.armor-pieces-table > thead > tr > th {
        padding: 0;
        border: 0;
      }

        table.armor-pieces-table > thead > tr > th > span {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

      table.armor-pieces-table > tbody > tr > td {
        position: relative;
        padding-left: calc(50% + 0.5rem);
      }

        table.armor-pieces-table > tbody > tr > td:first-child {
          border-top: 2px solid currentColor;
        }

        table.armor-pieces-table > tbody > tr > td:last-child {
          border-bottom: none;
        }

        table.armor-pieces-table > tbody > tr:last-child > td:last-child {
          border-bottom: 2px solid currentColor;
        }

        table.armor-pieces-table > tbody > tr > td:before {
          content: attr(data-label);
          position: absolute;
          top: 50%;
          left: 0.5rem;
          transform: translate(0, -50%);
          width: calc(50% - 0.5rem);
          font-weight: bold;
        }
}
