<app-loading *ngIf="isLoading"></app-loading>
<div style="display: flex; flex-direction: column; height: 100%;">
  <h1>Armor Pieces</h1>
  <ul class="selection-list" style="margin-bottom: 0;">
    <li>
      <h2>
        <a class="text-dark" href="javascript:void(0)"
           [class.link-active]="armorType == ArmorPieceTypeEnum.Head"
           (click)="switchToType(ArmorPieceTypeEnum.Head)">Helms</a>
      </h2>
    </li>
    <li>
      <h2>
        <a class="text-dark" href="javascript:void(0)"
           [class.link-active]="armorType == ArmorPieceTypeEnum.Chest"
           (click)="switchToType(ArmorPieceTypeEnum.Chest)">Chests Armor</a>
      </h2>
    </li>
    <li>
      <h2>
        <a class="text-dark" href="javascript:void(0)"
           [class.link-active]="armorType == ArmorPieceTypeEnum.Gauntlets"
           (click)="switchToType(ArmorPieceTypeEnum.Gauntlets)">Gauntlets</a>
      </h2>
    </li>
    <li>
      <h2>
        <a class="text-dark" href="javascript:void(0)"
           [class.link-active]="armorType == ArmorPieceTypeEnum.Legs"
           (click)="switchToType(ArmorPieceTypeEnum.Legs)">Legs</a>
      </h2>
    </li>
  </ul>
  <div *ngIf="armorData" class="armor-pieces-table-container">
    <table class="table fixed-thead armor-pieces-table">
      <thead>
        <tr>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Weight</span></th>
          <th scope="col"><span>Physical</span></th>
          <th scope="col"><span>Strike</span></th>
          <th scope="col"><span>Slash</span></th>
          <th scope="col"><span>Pierce</span></th>
          <th scope="col" class="magic"><span>Magic</span></th>
          <th scope="col" class="fire"><span>Fire</span></th>
          <th scope="col" class="lightning"><span>Lightning</span></th>
          <th scope="col" class="holy"><span>Holy</span></th>
          <th scope="col"><span>Immunity</span></th>
          <th scope="col"><span>Robustness</span></th>
          <th scope="col"><span>Focus</span></th>
          <th scope="col"><span>Vitality</span></th>
          <th scope="col"><span>Poise</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of armorPieces">
          <td data-label="Name" style="display: flex; flex-wrap: wrap;">
            <a [style.text-decoration]="p.isEnabled ? 'none' : 'line-through'" [attr.href]="getURL(p)" target="_blank">{{ p.name }}</a>
            <div class="toggles" style="margin-left: auto;">
              <button mat-icon-button class="toggle-icon"
                      attr.aria-label="Enable armor piece: {{ p.name }}"
                      title="Enable armor piece"
                      (click)="enableArmorPiece(p, true)">
                <svg class="bi enable" fill="currentColor">
                  <use href="bootstrap-icons.svg#check-circle-fill" />
                </svg>
              </button>
              <button mat-icon-button class="toggle-icon" style="margin-left: 5px;"
                      attr.aria-label="Disable armor piece: {{ p.name }}"
                      title="Disable armor piece"
                      (click)="enableArmorPiece(p, false)">
                <svg class="bi disable" fill="currentColor">
                  <use href="bootstrap-icons.svg#x-circle-fill" />
                </svg>
              </button>
            </div>
          </td>
          <td data-label="Weight">{{p.weight}}</td>
          <td data-label="Physical">{{p.physical}}</td>
          <td data-label="Strike">{{p.physicalStrike}}</td>
          <td data-label="Slash">{{p.physicalSlash}}</td>
          <td data-label="Pierce">{{p.physicalPierce}}</td>
          <td data-label="Magic" class="magic">{{p.magic}}</td>
          <td data-label="Fire" class="fire">{{p.fire}}</td>
          <td data-label="Lightning" class="lightning">{{p.lightning}}</td>
          <td data-label="Holy" class="holy">{{p.holy}}</td>
          <td data-label="Immunity">{{p.immunity}}</td>
          <td data-label="Robustness">{{p.robustness}}</td>
          <td data-label="Focus">{{p.focus}}</td>
          <td data-label="Vitality">{{p.vitality}}</td>
          <td data-label="Poise">{{p.poise}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
