/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-border {
  border: 1px solid #cccccc;
}

mat-form-field {
  width: 100%;
}

.container-mat-form-field-less-bottom-space .mat-form-field-wrapper {
  margin-bottom: calc(-1.3em + var(--bs-gutter-x) * 0.5);
}

.container-mat-form-field-no-bottom-space .mat-form-field-wrapper {
  margin-bottom: -1.3em;
}

.table {
    table-layout: fixed;
}

.table .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0;
}
