:root {
  --blue-input: #1e5aea;
  --red-input: #D52536;
  --yellow-input: #707000;
  --holy-input: #804000;

  --margin-bottom-standard: 8px;
}

.table-border {
  border: 1px solid #cccccc;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-flex .mat-form-field-infix {
  width: 100px;
}

.container-mat-form-field-less-bottom-space .mat-form-field-wrapper {
  margin-bottom: calc(-1.3em + var(--bs-gutter-x) * 0.5);
}

.container-mat-form-field-no-bottom-space .mat-form-field-wrapper {
  margin-bottom: -1.3em;
}

.table {
  font-size: 15px;
}

  .table .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0;
  }

.mat-icon-button.toggle-icon {
  height: auto;
  width: auto;
  line-height: inherit;
}

.mat-icon-button.toggle-icon svg {
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
}

.mat-icon-button.toggle-icon svg.help-tooltip-svg {
  height: 1.29em;
  width: 1.29em;
  line-height: 1.29em;
}

  .mat-icon-button.toggle-icon svg.enable {
    color: var(--bs-green);
  }

  .mat-icon-button.toggle-icon svg.disable {
    color: var(--bs-red);
  }

.table > :not(:first-child) {
  border-top: none;
}

table.fixed-thead {
  border-collapse: separate;
  border-spacing: 0;
}

  table.fixed-thead > thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
  }

    table.fixed-thead > thead > tr > th {
      border-bottom: 2px solid currentColor;
    }

.magic {
  color: var(--blue-input);
}

.fire {
  color: var(--red-input);
}

.lightning {
  color: var(--yellow-input);
}

.holy {
  color: var(--holy-input);
}

ul.selection-list {
  display: flex;
  list-style: none;
}

  ul.selection-list > li {
    padding: 8px;
  }

  ul.selection-list a {
    text-decoration: none;
  }

    ul.selection-list a.link-active {
      border-bottom: 1px solid var(--blue-input);
    }

    ul.selection-list a:hover {
      background-color: #eeeeee;
      border-radius: 3px;
    }

.autocomplete-icon {
  position: absolute;
  right: -0.5em;
  bottom: 0.75em;
}

a.autocomplete-icon > svg {
  height: 2em;
  width: 2em;
}

mat-form-field.autocomplete-field .mat-form-field-infix {
  padding-right: 1.5em;
}

.margin-bottom-gutter {
  margin-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.standard-gap {
  align-items: center;
  gap: 5px;
}

.mb-standard {
  margin-bottom: var(--margin-bottom-standard);
}
