<app-loading *ngIf="isLoading" [hasProgressBar]="hasProgressBar" [progressValue]="progressValue" (cancelEvent)="cancelOptimization()"></app-loading>

<h1 style="display: inline-block;">Elden Ring Armor Optimizer</h1>
<span style="margin-left: 5px;">by <a href="https://github.com/3dots/" target="_blank">3dots</a></span>

<div>
  <h2 class="h3" style="display: inline-block; padding-right: 8px;">Equipment:</h2>
  <ul class="selection-list" style="margin-bottom: 0; display: inline-flex; padding-left: 0;">
    <li>
      <a class="text-dark" href="javascript:void(0)"
         [class.link-active]="viewModel.configType == ConfigTypeEnum.Weights"
         (click)="switchConfigType(ConfigTypeEnum.Weights)">Weights</a>
    </li>
    <li>
      <a class="text-dark" href="javascript:void(0)"
         [class.link-active]="viewModel.configType == ConfigTypeEnum.StatsAndDropdowns"
         (click)="switchConfigType(ConfigTypeEnum.StatsAndDropdowns)">Stats</a>
    </li>
  </ul>
</div>
<div class="container-fluid container-mat-form-field-less-bottom-space">
  <div class="row" style="align-items: center;">
    <div class="col-xxl-6 col-xl-7 col-lg-9">
      <div class="row" *ngIf="viewModel.configType == ConfigTypeEnum.Weights">
        <div class="col col-lg-2">
          <mat-form-field appearance="fill">
            <mat-label>Equip Load:</mat-label>
            <input matInput [(ngModel)]="viewModel.maxWeight" type="number" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Weight Fraction Goal</mat-label>
            <input matInput [(ngModel)]="viewModel.weightFractionGoal" type="number" min="0">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Available weight for armor:</mat-label>
            <input matInput [value]="viewModel.totalAvailableWeight | number:'1.0-2'" disabled type="number" />
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="armorData && viewModel.configType == ConfigTypeEnum.StatsAndDropdowns">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Endurance:</mat-label>
            <input matInput [(ngModel)]="viewModel.endurance" type="number" min="8" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Equip Load:</mat-label>
            <input matInput [value]="viewModel.equipLoad(armorData) | number:'1.0-1'" disabled type="number" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Weight Fraction Goal</mat-label>
            <input matInput [(ngModel)]="viewModel.weightFractionGoal" type="number" min="0">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Available weight for armor:</mat-label>
            <input matInput [value]="viewModel.totalAvailableWeightStats(armorData, viewModel.endurance) | number:'1.0-2'" disabled type="number" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-5 col-lg-3 margin-bottom-gutter">
      <button class="btn btn-secondary" (click)="reset()">Reset Everything</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-7 col-lg-9">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Right hand 1:</mat-label>
            <input matInput [(ngModel)]="viewModel.rightHand1" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Right hand 2:</mat-label>
            <input matInput [(ngModel)]="viewModel.rightHand2" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Right hand 3:</mat-label>
            <input matInput [(ngModel)]="viewModel.rightHand3" type="number" min="0" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-7 col-lg-9">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Left hand 1:</mat-label>
            <input matInput [(ngModel)]="viewModel.leftHand1" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Left hand 2:</mat-label>
            <input matInput [(ngModel)]="viewModel.leftHand2" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Left hand 3:</mat-label>
            <input matInput [(ngModel)]="viewModel.leftHand3" type="number" min="0" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-7 col-lg-9">
      <div class="row" *ngIf="viewModel.configType == ConfigTypeEnum.Weights">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Talisman 1:</mat-label>
            <input matInput [(ngModel)]="viewModel.talisman1" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Talisman 2:</mat-label>
            <input matInput [(ngModel)]="viewModel.talisman2" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Talisman 3:</mat-label>
            <input matInput [(ngModel)]="viewModel.talisman3" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Talisman 4:</mat-label>
            <input matInput [(ngModel)]="viewModel.talisman4" type="number" min="0" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row talisman-row" *ngIf="viewModel.configType == ConfigTypeEnum.StatsAndDropdowns">
    <div class="col">
      <mat-form-field appearance="fill" class="autocomplete-field">
        <mat-label>Talisman 1:</mat-label>
        <input type="text" matInput [formControl]="txtTalisman1" [matAutocomplete]="cmbTalisman1">
        <mat-autocomplete #cmbTalisman1="matAutocomplete" [displayWith]="displayTalisman" (optionSelected)="onTalismanChanged($event)">
          <mat-option *ngFor="let option of filteredTalismans1 | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <a class="autocomplete-icon" href="javascript:void(0)" (click)="clearAutocomplete(txtTalisman1)">
          <svg class="bi" fill="currentColor">
            <use href="bootstrap-icons.svg#x" />
          </svg>
        </a>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill" class="autocomplete-field">
        <mat-label>Talisman 2:</mat-label>
        <input type="text" matInput [formControl]="txtTalisman2" [matAutocomplete]="cmbTalisman2">
        <mat-autocomplete #cmbTalisman2="matAutocomplete" [displayWith]="displayTalisman" (optionSelected)="onTalismanChanged($event)">
          <mat-option *ngFor="let option of filteredTalismans2 | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <a class="autocomplete-icon" href="javascript:void(0)" (click)="clearAutocomplete(txtTalisman2)">
          <svg class="bi" fill="currentColor">
            <use href="bootstrap-icons.svg#x" />
          </svg>
        </a>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill" class="autocomplete-field">
        <mat-label>Talisman 3:</mat-label>
        <input type="text" matInput [formControl]="txtTalisman3" [matAutocomplete]="cmbTalisman3">
        <mat-autocomplete #cmbTalisman3="matAutocomplete" [displayWith]="displayTalisman" (optionSelected)="onTalismanChanged($event)">
          <mat-option *ngFor="let option of filteredTalismans3 | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <a class="autocomplete-icon" href="javascript:void(0)" (click)="clearAutocomplete(txtTalisman3)">
          <svg class="bi" fill="currentColor">
            <use href="bootstrap-icons.svg#x" />
          </svg>
        </a>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill" class="autocomplete-field">
        <mat-label>Talisman 4:</mat-label>
        <input type="text" matInput [formControl]="txtTalisman4" [matAutocomplete]="cmbTalisman4">
        <mat-autocomplete #cmbTalisman4="matAutocomplete" [displayWith]="displayTalisman" (optionSelected)="onTalismanChanged($event)">
          <mat-option *ngFor="let option of filteredTalismans4 | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <a class="autocomplete-icon" href="javascript:void(0)" (click)="clearAutocomplete(txtTalisman4)">
          <svg class="bi" fill="currentColor">
            <use href="bootstrap-icons.svg#x" />
          </svg>
        </a>
      </mat-form-field>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
<h2 class="h3">Optimization criteria:</h2>
<div class="container-fluid container-mat-form-field-no-bottom-space" style="display: flex;">
  <table class="table optimization-criteria-table table-collapse" style="margin-bottom: 10px; table-layout: fixed;">
    <thead>
      <tr>
        <th></th>
        <th scope="col"><span>Avg Physical</span></th>
        <th scope="col"><span>Physical</span></th>
        <th scope="col"><span>Strike</span></th>
        <th scope="col"><span>Slash</span></th>
        <th scope="col"><span>Pierce</span></th>
        <th scope="col" class="magic"><span>Magic</span></th>
        <th scope="col" class="fire"><span>Fire</span></th>
        <th scope="col" class="lightning"><span>Lightning</span></th>
        <th scope="col" class="holy"><span>Holy</span></th>
        <th scope="col"><span>Immunity</span></th>
        <th scope="col"><span>Robustness</span></th>
        <th scope="col"><span>Focus</span></th>
        <th scope="col"><span>Vitality</span></th>
        <th scope="col"><span>Poise</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="vertical-align: middle;">Minimums</th>
        <td data-label="Avg Physical">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minAvgPhysical" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Physical">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minPhysical" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Strike">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minPhysicalStrike" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Slash">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minPhysicalSlash" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Pierce">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minPhysicalPierce" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Magic" class="magic">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minMagic" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Fire" class="fire">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minFire" type="number" min="0" />
          </mat-form-field>
        <td data-label="Lightning" class="lightning">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minLightning" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Holy" class="holy">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minHoly" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Immunity">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minImmunity" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Robustness">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minRobustness" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Focus">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minFocus" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Vitality">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minVitality" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Poise">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.minPoise" type="number" min="0" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th scope="row" style="vertical-align: middle;">
          Prioritization
        </th>
        <td data-label="Avg Physical" style="vertical-align: middle;">
          <div class="help-tooltip-container">
            <button mat-icon-button class="toggle-icon" aria-label="Prioritization Explanation" (click)="openPrioritizationHelpDialog()">
              <svg class="bi help-tooltip-svg" fill="currentColor">
                <use href="bootstrap-icons.svg#question-circle" />
              </svg>
            </button>            
          </div>
        </td>
        <td data-label="Physical">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priPhysical" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Strike">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priPhysicalStrike" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Slash">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priPhysicalSlash" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Pierce">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priPhysicalPierce" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Magic" class="magic">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priMagic" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Fire" class="fire">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priFire" type="number" min="0" />
          </mat-form-field>
        <td data-label="Lightning" class="lightning">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priLightning" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Holy" class="holy">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priHoly" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Immunity">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priImmunity" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Robustness">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priRobustness" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Focus">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priFocus" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Vitality">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priVitality" type="number" min="0" />
          </mat-form-field>
        </td>
        <td data-label="Poise">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="viewModel.priPoise" type="number" min="0" />
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid container-mat-form-field-less-bottom-space">
  <div class="button-div" style="margin-bottom: 10px;">
    <button class="btn btn-secondary" (click)="prioritizePhysicals()">Prioritize Just Physicals</button>
    <button class="btn btn-secondary" (click)="prioritizeElementals()">Just Elementals</button>
    <button class="btn btn-secondary" (click)="prioritizeBoth()">Both</button>
  </div>
  <div *ngIf="viewModel.configType == ConfigTypeEnum.StatsAndDropdowns">
    <div class="h3 fw-bold" style="display: inline-flex; align-items: center; padding-right: 8px; gap: 5px;">
      <div>Optimize for:</div>
      <div class="help-tooltip-container">
        <button mat-icon-button class="toggle-icon" aria-label="Optimizer for Tooltip" aria-describedby="optimize-for-tooltip"
                (focus)="showForTooltip(true, true)" (focusout)="showForTooltip(false, false)"
                (mouseover)="showForTooltip(true, null)" (mouseout)="showForTooltip(false, null)">
          <svg class="bi help-tooltip-svg" fill="currentColor">
            <use href="bootstrap-icons.svg#question-circle" />
          </svg>
        </button>
        <div id="optimize-for-tooltip" *ngIf="isShowForTooltip" class="help-tooltip-div" style="width: 700px; font-weight: normal;">
          <div>
            Talismans in PVP actually have different defense bonuses. <br />
            For example, Dragoncrest Greatshield Talisman boosts physical defense by 20% for PVE, but only by 5% for PVP. <br />
            The game defense values are lying to you.
          </div>
        </div>
      </div>
    </div>
    <ul class="selection-list" style="margin-bottom: 0; display: inline-flex; padding-left: 0;">
      <li>
        <a class="text-dark" href="javascript:void(0)"
           [class.link-active]="viewModel.optimizeForType == OptimizeForEnum.PVP"
           (click)="switchOptimizeForType(OptimizeForEnum.PVP)">PVP</a>
      </li>
      <li>
        <a class="text-dark" href="javascript:void(0)"
           [class.link-active]="viewModel.optimizeForType == OptimizeForEnum.PVE"
           (click)="switchOptimizeForType(OptimizeForEnum.PVE)">PVE</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xxl-6 col-xl-7 col-lg-9">
      <div class="row">
        <div class="col col-lg-2">
          <mat-form-field appearance="fill">
            <mat-label># of threads:</mat-label>
            <input matInput [(ngModel)]="viewModel.numberOfThreads" type="number" min="1" />
          </mat-form-field>
        </div>
        <div class="col col-lg-2">
          <mat-form-field appearance="fill">
            <mat-label># of results:</mat-label>
            <input matInput [(ngModel)]="viewModel.numberOfResults" type="number" min="0" />
          </mat-form-field>
        </div>
        <div class="col-lg-8 col-sm-12 col-xs-12 margin-bottom-gutter" style="align-self: center;">
          <button class="btn btn-primary" (click)="runOptimization()">Run Optimization</button>
          <span style="margin-left: 10px;"># of Disabled Pieces: {{numberOfDisabledPieces}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<h2>Results</h2>
<div class="container-fluid" style="display: flex;">
  <table class="table optimizer-results-table table-collapse">
    <thead>
      <tr>
        <th scope="col"><span>Head</span></th>
        <th scope="col"><span>Chest</span></th>
        <th scope="col"><span>Gauntlets</span></th>
        <th scope="col"><span>Legs</span></th>
        <th scope="col"><span>Weight</span></th>
        <th scope="col"><span>Avg <br /> Physical</span></th>
        <th scope="col"><span>Physical</span></th>
        <th scope="col"><span>Strike</span></th>
        <th scope="col"><span>Slash</span></th>
        <th scope="col"><span>Pierce</span></th>
        <th scope="col" class="magic"><span>Magic</span></th>
        <th scope="col" class="fire"><span>Fire</span></th>
        <th scope="col" class="lightning"><span>Lightning</span></th>
        <th scope="col" class="holy"><span>Holy</span></th>
        <th scope="col"><span>Immunity</span></th>
        <th scope="col"><span>Robustness</span></th>
        <th scope="col"><span>Focus</span></th>
        <th scope="col"><span>Vitality</span></th>
        <th scope="col"><span>Poise</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let combo of results">
        <td data-label="Head" class="cell-with-buttons-flex">
          <a [attr.href]="getURL(combo.head)" target="_blank">{{ combo.head.name }}</a>
          <button mat-icon-button class="toggle-icon" style="float: right;"
                  attr.aria-label="Disable {{ combo.head.name }} and recalculate" title="Disable armor piece and recalculate"
                  (click)="disableArmorPiece(combo.head)">
            <svg class="bi disable" fill="currentColor">
              <use href="bootstrap-icons.svg#x-circle-fill" />
            </svg>
          </button>
        </td>
        <td data-label="Chest" class="cell-with-buttons-flex">
          <a [attr.href]="getURL(combo.chest)" target="_blank">{{ combo.chest.name }}</a>
          <button mat-icon-button class="toggle-icon" style="float: right;"
                  attr.aria-label="Disable {{ combo.chest.name }} and recalculate" title="Disable armor piece and recalculate"
                  (click)="disableArmorPiece(combo.chest)">
            <svg class="bi disable" fill="currentColor">
              <use href="bootstrap-icons.svg#x-circle-fill" />
            </svg>
          </button>
        </td>
        <td data-label="Gauntlets" class="cell-with-buttons-flex">
          <a [attr.href]="getURL(combo.gauntlets)" target="_blank">{{ combo.gauntlets.name }}</a>
          <button mat-icon-button class="toggle-icon" style="float: right;"
                  attr.aria-label="Disable {{ combo.gauntlets.name }} and recalculate" title="Disable armor piece and recalculate"
                  (click)="disableArmorPiece(combo.gauntlets)">
            <svg class="bi disable" fill="currentColor">
              <use href="bootstrap-icons.svg#x-circle-fill" />
            </svg>
          </button>
        </td>
        <td data-label="Legs" class="cell-with-buttons-flex">
          <a [attr.href]="getURL(combo.legs)" target="_blank">{{ combo.legs.name }}</a>
          <button mat-icon-button class="toggle-icon" style="float: right;"
                  attr.aria-label="Disable {{ combo.legs.name }} and recalculate" title="Disable armor piece and recalculate"
                  (click)="disableArmorPiece(combo.legs)">
            <svg class="bi disable" fill="currentColor">
              <use href="bootstrap-icons.svg#x-circle-fill" />
            </svg>
          </button>
        </td>
        <td data-label="Weight">{{ combo.weight | number:'1.0-2' }}</td>
        <td data-label="Avg Physical">{{ combo.avgPhysical | number:'1.0-2' }}</td>
        <td data-label="Physical">{{ combo.physical | number:'1.0-2' }}</td>
        <td data-label="Strike">{{ combo.physicalStrike | number:'1.0-2' }}</td>
        <td data-label="Slash">{{ combo.physicalSlash | number:'1.0-2' }}</td>
        <td data-label="Pierce">{{ combo.physicalPierce | number:'1.0-2' }}</td>
        <td data-label="Magic" class="magic">{{ combo.magic | number:'1.0-2' }}</td>
        <td data-label="Fire" class="fire">{{ combo.fire | number:'1.0-2' }}</td>
        <td data-label="Lightning" class="lightning">{{ combo.lightning | number:'1.0-2' }}</td>
        <td data-label="Holy" class="holy">{{ combo.holy | number:'1.0-2' }}</td>
        <td data-label="Immunity">{{ combo.immunity | number:'1.0-2' }}</td>
        <td data-label="Robustness">{{ combo.robustness | number:'1.0-2' }}</td>
        <td data-label="Focus">{{ combo.focus | number:'1.0-2' }}</td>
        <td data-label="Vitality">{{ combo.vitality | number:'1.0-2' }}</td>
        <td data-label="Poise">{{ combo.poise | number:'1.0-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>
