@import "../../styles/mixins.scss";

.button-div {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

svg.help-tooltip-svg {
  height: 1.25em;
  width: 1.25em;
  line-height: 1.25em;
}

.talisman-row > .col {
  flex-basis: 18.75em;
  width: 18.75em;
}

.optimization-criteria-table {
  @include responsive-table(1399px);
}

.optimizer-results-table {
  @include responsive-table(1399px);
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  table.table-collapse {
    font-size: 14px;
  }
}

@media screen and (max-width: 1399px) {

  table.optimizer-results-table > tbody > tr > td.cell-with-buttons-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .toggle-icon {
      margin-left: auto;
      padding-left: 5px;
  }
}

