
<h1>Armor Sets</h1>
<div class="container-fluid" *ngIf="armorData">
  <table class="table armor-selections-table">
    <thead>
      <tr>
        <th style="width: 63px;"></th>
        <th scope="col">Head</th>
        <th scope="col">Chest</th>
        <th scope="col">Gauntlets</th>
        <th scope="col">Legs</th>
        <th scope="col">Weight</th>
        <th scope="col" style="width: 72px;">Avg Physical</th>
        <th scope="col">Physical</th>
        <th scope="col">Strike</th>
        <th scope="col">Slash</th>
        <th scope="col">Pierce</th>
        <th scope="col">Magic</th>
        <th scope="col">Fire</th>
        <th scope="col">Lightning</th>
        <th scope="col">Holy</th>
        <th scope="col">Immunity</th>
        <th scope="col">Robustness</th>
        <th scope="col">Focus</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let set of armorData.armorSets">
        <td>
          <button mat-icon-button class="toggle-icon" attr.aria-label="Enable armor set: {{ set.name }}" title="Enable armor set"
                  (click)="enableArmorSet(set, true)">
            <svg class="bi enable" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#check-circle-fill" />
            </svg>
          </button>
          <button mat-icon-button class="toggle-icon" style="margin-left: 5px;" aria-label="Disable armor set" title="Disable armor set"
                  (click)="enableArmorSet(set, false)">
            <svg class="bi disable" fill="currentColor">
              <use xlink:href="bootstrap-icons.svg#x-circle-fill" />
            </svg>
          </button>
        </td>
        <td>
          <span [style.text-decoration]="set.combo.head.isEnabled ? 'none' : 'line-through'">{{ set.combo.head.name }}</span>
        </td>
        <td>
          <span [style.text-decoration]="set.combo.chest.isEnabled ? 'none' : 'line-through'">{{ set.combo.chest.name }}</span>
        </td>
        <td>
          <span [style.text-decoration]="set.combo.gauntlets.isEnabled ? 'none' : 'line-through'">{{ set.combo.gauntlets.name }}</span>
        </td>
        <td>
          <span [style.text-decoration]="set.combo.legs.isEnabled ? 'none' : 'line-through'">{{ set.combo.legs.name }}</span>
        </td>
        <td>{{ set.combo.weight | number:'1.0-2' }}</td>
        <td>{{ set.combo.avgPhysical | number:'1.0-2' }}</td>
        <td>{{ set.combo.physical | number:'1.0-2' }}</td>
        <td>{{ set.combo.physicalStrike | number:'1.0-2' }}</td>
        <td>{{ set.combo.physicalSlash | number:'1.0-2' }}</td>
        <td>{{ set.combo.physicalPierce | number:'1.0-2' }}</td>
        <td>{{ set.combo.magic | number:'1.0-2' }}</td>
        <td>{{ set.combo.fire | number:'1.0-2' }}</td>
        <td>{{ set.combo.lightning | number:'1.0-2' }}</td>
        <td>{{ set.combo.holy | number:'1.0-2' }}</td>
        <td>{{ set.combo.immunity | number:'1.0-2' }}</td>
        <td>{{ set.combo.robustness | number:'1.0-2' }}</td>
        <td>{{ set.combo.focus | number:'1.0-2' }}</td>
        <td>{{ set.combo.death | number:'1.0-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>
