.toggles {
  text-align: right;
}


.button-span {
  float: right;
  margin-left: auto;
}

.button-span,
.toggles {
  margin-left: auto;
}

.armor-selections-table-container {
  flex-grow: 1;
  overflow: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 650px) {
  .armor-selections-table-container {
    margin-right: 0;
  }
}

@media screen and (max-width: 1550px) {
  table.armor-selections-table {
    width: 600px;
  }

  .toggles {
      padding-left: 5px;
  }

  table.armor-selections-table > thead {
    position: relative;
  }

      table.armor-selections-table > thead > tr,
      table.armor-selections-table > thead > tr > th,
      table.armor-selections-table > tbody > tr,
      table.armor-selections-table > tbody > tr > td {
        display: block;
      }

        table.armor-selections-table > thead > tr > th:not(.ignore-hide) {
          padding: 0;
          border: 0;
        }

          table.armor-selections-table > thead > tr > th:not(.ignore-hide) > span {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }

        table.armor-selections-table > tbody > tr > td {
          position: relative;
          padding-left: calc(50% + 0.5rem);
        }

        table.armor-selections-table > thead > tr > th:first-child,
        table.armor-selections-table > tbody > tr:not(:first-child) > td:first-child {
          border-top: 2px solid currentColor;
        }

        table.armor-selections-table > tbody > tr > td:last-child {
          border-bottom: none;
        }

        table.armor-selections-table > tbody > tr:last-child > td:last-child {
          border-bottom: 2px solid currentColor;
        }

        table.armor-selections-table > tbody > tr > td:before {
          content: attr(data-label);
          position: absolute;
          top: 50%;
          left: 0.5rem;
          transform: translate(0, -50%);
          width: calc(50% - 0.5rem);
          font-weight: bold;
        }

        table.armor-selections-table > thead > tr > th.cell-with-buttons-flex,
        table.armor-selections-table > tbody > tr > td.cell-with-buttons-flex {
          display: flex;
          flex-wrap: wrap;
        }
}
